// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
// Copyright (C) 2022 Arm Ltd.
// Copyright (C) 2024 Connor Rigby <connorr@hey.com>

#include <dt-bindings/interrupt-controller/irq.h>

/dts-v1/;

#include <arm/allwinner/sun8i-t113s.dtsi>

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>
#include <dt-bindings/leds/common.h>
#include <dt-bindings/pwm/pwm.h>

/ {
	model = "Vitis T113-S4";
	compatible = "protolux,vitis-t113", "allwinner,sun8i-t113s", "allwinner,sun8i";

	aliases {
		serial4 = &uart4;
	};

	chosen {
		stdout-path = "serial4:115200n8";
	};

	leds {
		compatible = "gpio-leds";

		led-1 {
			color = <LED_COLOR_ID_GREEN>;
			function = LED_FUNCTION_STATUS;
			gpios = <&pio 3 3 GPIO_ACTIVE_HIGH>; /* PD3 */
			linux,default-trigger = "heartbeat";
		};
	};

	reg_vcc5v: regulator-5v {
		compatible = "regulator-fixed";
		regulator-name = "vcc-5v";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		regulator-always-on;
	};

	reg_3v3: regulator-3v3 {
		compatible = "regulator-fixed";
		regulator-name = "vcc-3v3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		vin-supply = <&reg_vcc5v>;
	};

	reg_vcc_core: regulator-core {
		compatible = "regulator-fixed";
		regulator-name = "vcc-core";
		regulator-min-microvolt = <880000>;
		regulator-max-microvolt = <880000>;
		vin-supply = <&reg_vcc5v>;
	};
};

&cpu0 {
	cpu-supply = <&reg_vcc_core>;
};

&cpu1 {
	cpu-supply = <&reg_vcc_core>;
};

&rtc {
	status = "okay";
};

&dcxo {
	clock-frequency = <24000000>;
};

&wdt {
	status = "okay";
};

&pio {
	vcc-pb-supply = <&reg_3v3>;
	vcc-pc-supply = <&reg_3v3>;
	vcc-pd-supply = <&reg_3v3>;
	vcc-pe-supply = <&reg_3v3>;
	vcc-pf-supply = <&reg_3v3>;
	vcc-pg-supply = <&reg_3v3>;

	gpio-line-names =
		/* PA */
		"","","","","","","","",
		"","","","","","","","",
		"","","","","","","","",
		"","","","","","","","",
		/* PB */
		"","","","","","","","",
		"","","","","","","","",
		"","","","","","","","",
		"","","","","","","","",
		/* PC */
		"","","","","","","","",
		"","","","","","","","",
		"","","","","","","","",
		"","","","","","","","",
		/* PD */
		"","","","LED_GREEN","LED_YELLOW","LED_RED","","",
		"","","","","","","","",
		"EPD_DC","EPD_RESET","EPD_BUSY","","","","","",
		"","","","","","","","",
		/* PE */
		"","","","","","","","",
		"","","","","","","","",
		"","","","","","","","",
		"","","","","","","","",
		/* PF */
		"","","","","","","","",
		"","","","","","","","",
		"","","","","","","","",
		"","","","","","","","",
		/* PG */
		"","","","","","","","",
		"","","","","","","","",
		"","","","","","","","",
		"","","","","","","","";

	uart4_pd_pins: uart4-pd-pins {
		pins = "PD7", "PD8";
		function = "uart4";
	};

	spi1_pd_pins: spi1-pd-pins {
		pins = "PD10", "PD11", "PD12";
		function = "spi1";
	};

};

/* shell */
&uart4 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart4_pd_pins>;
	status = "okay";
};

&mmc0 {
	pinctrl-names = "default";
	pinctrl-0 = <&mmc0_pins>;
	vmmc-supply = <&reg_3v3>;
	disable-wp;
	bus-width = <4>;
	status = "okay";
};

&usb_otg {
	dr_mode = "peripheral";
	status = "okay";
};

&usbphy {
	status = "okay";
};

&ehci1 {
	status = "okay";
};

&ohci1 {
	status = "okay";
};

&spi0 {
	status = "disabled";
};

&spi1 {
	pinctrl-names = "default";
	pinctrl-0 = <&spi1_pd_pins>;
	status = "okay";

	/* Generic spidev on chip-select 0  → /dev/spidev0.0 */
	spidev0: spidev@0 {
	  compatible = "menlo,m53cpld";
	  reg = <0>;
	  spi-max-frequency = <10000000>;
	};
};

&mixer0 {
	status = "disabled";
};

&tcon_top {
	status = "disabled";
};

&tcon_lcd0 {
	status = "disabled";
};

&crypto {
	status = "okay";
};
